body{
    background-image:url('../ba/22.png') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

li{
    
    display: inline-block;
    padding: 10px;
}
li a{
    color: greenyellow; 
    font-size: 20px;
    text-align: center;
   border: solid beige;
   font-family: 'Times New Roman', Times, serif;
   
   

   }
   .acc1:hover{
       color: yellow;
       font-size: 35px;
   }

   a{
    color: black;
    text-decoration: none;

   }
   ul{
       list-style: none;;
   }

   img{
       width: 400px;
       height: 300px;
   }
   .com{
       color: wheat;
       font-size: 30px;
       font-weight: normal;
   }
   h1{
       color: white;
       font-size: 40px;
       font-family: 'Times New Roman', Times, serif;
   }
   span{
       color: white;
       font-size: 20px;
   }
   h2{
       color: white;
   }
   div{
       color: white;
       font-size: 30px;
       font-family: 'Times New Roman', Times, serif;
       font-style: initial;
   }
   footer p{
       color: greenyellow;
       border: 1px solid wheat;
       background-color: black;
       left: 0px;
       text-align: center;
       font-size: 20px;
       font-family: 'Times New Roman', Times, serif;
       font-style: unset;
       bottom: 0%;
       width: 100%;
       margin-left: 0px;
       margin-right: 0px;
       left: 0%;
       right: 0%;
       border-style: double;
       border-width: 5px;
       
   }
   footer a{
       color: yellowgreen;
       font-size: 25px;
   }
   li a:hover{
    color: purple;
}
footer a:hover{
    color: purple;
}